:root {
  --bg-image-dark: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --main-font: 'IBM Plex mono';
  --title-font-color: #DB00FF;
  --title-decor: #000028;
  --accent-color: #FF0070;
  --section-title-color: #FF0070;
  --content-text-color: #F1B2CE;
  --nav-hover-color: rgba(255, 0, 112, 0.4);
  --main-gap: 10px;
  --main-text-size: 18px;
  --header-logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --footer-logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --display-rec: block;
}

@media (width >= 768px) {
  :root {
  --main-gap: 20px;
  --header-logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --footer-logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
}